body {
  @extend %txt--body;
  color: cc(alttxt);
  background-color: cc(bg);
  height: 100vh;
  display: flex;
  justify-content: center;
  #app {
    max-width: 1200px;
    width: 100%;
    height: 100%;
    position: relative;
  }
}